.giveaway-header .announcementBar {
  margin-bottom: 0;
}

.giveawayRoot {
  margin-top: 90px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .giveawayRoot {
    margin: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }
  .giveawayRoot .heading {
    font-size: 100px;
  }
  .giveawayRoot .subheading {
    text-align: justify;
  }
}
