body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active,
a:focus {
  outline: 0 none;
}
button {
  -webkit-appearance: none;
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0;
  padding: 0;
}
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
img {
  -o-object-fit: cover;
  object-fit: cover;
}
::-moz-selection {
  background: #000;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: #000;
  text-shadow: none;
  color: #fff;
}
::selection a {
  color: #fff;
}
::-moz-selection a {
  color: #fff;
}
::-webkit-input-placeholder {
  opacity: 1;
}
:-moz-placeholder,
::-moz-placeholder {
  color: #000;
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.logo {
  width: 160px;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heroSection {
  background-image: url("../assets/images/mobileHeroBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid #00142d;
  position: relative;
  padding-bottom: 50px;
  height: 100vh;
}

.announcementBar {
  height: 40px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #00142d;
  background: linear-gradient(
    90deg,
    #9f8fff 0%,
    #ffa3ff 25.33%,
    #ff8b8b 50.33%,
    #ffe092 74.81%,
    #a9ff99 100%
  );
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.announcementContent {
  display: flex;
  width: 200%;
}

.announcementText {
  display: flex;
  justify-content: space-evenly;
}

.announcementLink {
  font-family: Menco-Black, sans-serif;
  font-size: 16px;
  line-height: 1.48;
  letter-spacing: 0.8px;
  color: #00142d;
  white-space: nowrap;
  margin-left: 15px;
}

.desktopHeader {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.headerNav {
  position: relative;
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgb(255 255 255 / 78%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.25);
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 27px;
  height: 62px;
  z-index: 99;
  opacity: 0.9;
}

.navLink,
.menuLink {
  width: 100%;
  color: #fff;
  text-wrap: nowrap;
  text-shadow: -1px 1px #00142d;
  font-family: TTTrailers-Black, serif;
  -webkit-text-stroke: 0.5px #00142d;
  font-size: 24px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transform-origin: 0 100%;
  transition: all 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

.navLink:hover {
  transform: rotate(-3deg);
  cursor: pointer;
}

.cartBtn {
  display: flex;
  width: 47px;
  height: 43px;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  border: 1px solid #00142d;
  background: #fff;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
}
.cartIcon {
  width: 19px;
  height: 19px;
  transition: all 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}
.cartBtn:hover {
  cursor: pointer;
  transform: rotate(8deg) translateY(-3px) translateZ(30px);
}
.cartBtn:hover svg path {
  fill: #477dfd;
}

/* CSS for mobile header */
/* CSS for mobile header */
.humBurger {
  z-index: 1001;
}

#humBurgerIcon .line {
  transition: transform 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8),
    opacity 0.4s ease-in-out;
}

#humBurgerIcon .line1,
#humBurgerIcon .line3 {
  transform-origin: center;
}

#humBurgerIcon.open .line1 {
  transform: rotate(45deg) translate(4px, 4px);
}

#humBurgerIcon.open .line2 {
  opacity: 0;
  transform: scaleX(0);
}

#humBurgerIcon.open .line3 {
  transform: rotate(-45deg) translate(4px, -4px);
}

.mobileHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.expandedMenu {
  position: absolute;
  top: 9px;
  left: 20px;
  width: 45px;
  height: 41px;
  background: #fff;
  border-radius: 13px;
  border: 1px solid #00142d;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  transition: transform 1s cubic-bezier(0.47, 1.64, 0.41, 0.8),
    width 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8),
    height 0.6s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  z-index: 1000;
}

.expandedMenu.open {
  width: 90%;
  height: fit-content;
  z-index: 1000;
  padding-bottom: 50px;
}

.expandedMenuContent {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.expandedMenu.open .expandedMenuContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  margin-top: 50px;
}
.menuLink {
  font-size: 54px;
  width: auto;
}

.svg-grid {
  position: absolute;
  left: 0;
  opacity: 0.3;
  top: 0;
}

.view-home {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.view-home section {
  position: relative;
  z-index: 3;
}
.view-home:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  pointer-events: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      180deg,
      #c2ecff 4.69%,
      #3e83fe 20.31%,
      #97bdff 30.73%,
      #6ebaca 51.13%,
      #5964d0 61.09%,
      #f1a7fa 76.46%,
      #074fcf
    ),
    #f5fdff;
}
.view-home:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: url("../assets/svg/grid.svg");
  background-repeat: repeat;
  opacity: 0.4;
  pointer-events: none;
  z-index: 1;
}
.pink-btn {
  --color: #f5fdff;
  --color-hover: #010101;
  --hover-back: #477dfd;
  --hover-front: #f5fdff;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  color: var(--c, var(--color));
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 58px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: #010101;
  border: 1px solid #000;
  border-radius: 100px;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.25);
}

.pink-btn span:not(.tag) {
  z-index: 3;
  position: relative;
  transform: scale(1) translateZ(0);
  display: flex;
  align-items: center;
  color: #fff;
  text-shadow: -3px 3px rgba(0, 20, 45, 0.7490196078);
  -webkit-text-stroke: 1px #00142d;
  text-stroke: 1px #00142d;
  font-family: TTTrailers-Black, serif;
  font-size: 18px;
  line-height: 0.91;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.pink-btn:after,
.pink-btn:before {
  content: "";
  position: absolute;
  background: var(--pb, var(--hover-back));
  top: 0;
  left: 0;
  right: 0;
  height: 200%;
  border-radius: var(--br, 40%);
  transform: translateY(var(--y, 50%));
  transition: border-radius 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95)
      var(--br-d, 0.08s),
    transform var(--d, 0.35s) cubic-bezier(0.445, 0.05, 0.55, 0.95)
      var(--d-d, 0s);
}

.pink-btn:after {
  --pb: var(--hover-front);
  --d: 0.39s;
}

.pink-btn:before {
  --d-d: 0.06s;
}

html:not(.touch) .pink-btn:hover {
  transform: translate3d(1px, 1px, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s;
  --name: move;
  --c: var(--color-hover);
}

html:not(.touch) .pink-btn:hover:after,
html:not(.touch) .pink-btn:hover:before {
  --y: 0;
  --br: 0;
}

.hero-wrapper {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 10px;
  z-index: 1;
}
.hero-content {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 380px;
  gap: 20px;
}
.hero-content .pink-btn span {
  font-size: 30px;
}
.heading {
  color: #fff;
  text-shadow: -3px 3px rgba(0, 20, 45, 0.7490196078);
  -webkit-text-stroke: 1px #00142d;
  text-stroke: 1px #00142d;
  font-family: TTTrailers-Black, serif;
  font-size: 40px;
  line-height: 0.91;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.subheading {
  color: #00142d;
  font-family: Menco-Black, sans-serif;
  font-size: 18px;
  line-height: 1.45;
  text-transform: uppercase;
}

.inner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.inner-content .heading {
  font-size: 54px;
}
#myHeader {
  position: fixed;
  top: 10;
  width: auto;
  min-width: 90%;
  z-index: 9999999999999999999999999;
}
.newsletterContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.newsletter input {
  width: 100%;
  overflow: hidden;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  border: 0;
  outline: 0;
}
.newsletter button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
}
@media screen and (min-width: 767px) {
  .announcementLink {
    font-size: 18px;
    margin-left: 40px;
  }
  #myHeader {
    min-width: 80%;
  }
  .desktopHeader {
    display: flex;
  }
  .heroSection {
    background-image: url("../assets/images/heroBg.jpg");
    background-position: top;
  }
  .mobileHeader {
    display: none;
  }
  .pink-btn {
    width: 300px;
    height: 62px;
  }
  .pink-btn span:not(.tag) {
    font-size: 28px;
    text-shadow: -2px 2px #00142d;
    line-height: 0.8;
    letter-spacing: -1px;
  }
  .hero-wrapper {
    margin-top: 130px;
  }
  .hero-wrapper .hero-content {
    max-width: 419.1px;
    gap: 30px;
  }
  .subheading {
    font-size: 20px;
  }

  .heading {
    font-size: 60px;
    -webkit-text-stroke: -3px 3px #00142d;
    text-shadow: -3px 3px #00142d;
    letter-spacing: -1.4px;
  }
  .pudgy-sale {
    padding: 40px 0;
  }
  .newsletter {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .newsletter button {
    width: 80%;
  }
}
