@font-face {
  font-family: "Menco W00 Black";
  src: url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.eot");
  src: url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/7c1c241f20bff52b24056c04cd20703c.svg#Menco W00 Black")
      format("svg");
}

body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  font-family: "Menco W00 Black", sans-serif;
}

.announcementBar {
  height: 40px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #9f8fff,
    #ffa3ff 25.33%,
    #ff8b8b 50.33%,
    #ffe092 74.81%,
    #a9ff99
  );
  border-bottom: 1px solid #00142d;
  display: flex;
  align-items: center;
  position: relative;
}

.announcementContent {
  display: flex;
  width: 100%;
  animation: marquee 15s linear infinite;
}

.announcementText {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.announcementLink {
  font-size: 18px;
  color: #00142d;
  text-decoration: none;
  font-weight: bold;
  white-space: nowrap;
  margin-left: 24px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.productCardWrapper {
  position: relative;
  display: inline-block;
}

.productCardContainer {
  transition: transform 0.5s ease;
  width: fit-content;
}

.productCard {
  position: relative;
  height: 395px;
  width: 284px;
  padding: 8px;
  border-radius: 24px;
  box-shadow: 1.2px 2.4px 0 2.4px #00000026, 0 0 0 1.2px #00142d;
  overflow: hidden;
  transition: transform 0.5s ease;
  background: #eaf4fe;
}

.productCardContainer:hover {
  transform: rotate(3deg);
  transition: transform 0.5s ease;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.cardBorders {
  position: absolute;
  top: 0px;
  left: -3px;
  right: -3px;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}

.cardCorner {
  position: absolute;
  width: 60px;
}

.cardCorner.flipped {
  right: 0;
  transform: scaleX(-1);
}

.cardTopTitle {
  position: absolute;
  z-index: 4;
  border-radius: 31px;
  border: 1px solid #00142d;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #00142d;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 2px 11px;
  background: #ffe092;
}

.cardInfo {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 25%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Menco W00 Black", sans-serif;
  background: linear-gradient(192deg,#0e151d00 69.15%,#477acee6 97.28%);
      display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    color: white;
}


.cardTitle {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.cardPrice {
  font-size: 16px;

}
